@model Velocity.Data.Models.Invoice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                @Html.DropDownListFor(model => model.Client.CompanyName, new SelectList(Model.Clients, Model.Client), Model.Client.CompanyName)
            </div>
            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Terms" class="control-label"></label>
                <input asp-for="Terms" class="form-control" />
                <span asp-validation-for="Terms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalInvoice" class="control-label"></label>
                <input asp-for="TotalInvoice" class="form-control" />
                <span asp-validation-for="TotalInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
