@using Velocity.Data.Enums
@model Velocity.Data.Models.Transit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransitState" class="control-label"></label>
                @Html.DropDownListFor(e => e.TransitState, new SelectList(Enum.GetValues(typeof(TransitState))), "Select a Transit State")
                <span asp-validation-for="TransitState" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPending" /> @Html.DisplayNameFor(model => model.IsPending)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
