@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>

    <ul>
        <li>
            Create a mock for the homepage
        </li>
        <li>
            Fix is required on create pages for certain models
        </li>
        <li>
            Add drop downs for foreign keys on all CRUD pages
        </li>
        <li>
            Make tool tips for properties on model using description attribute values
        </li>
    </ul>
    
</div>
